/*==== RESET =====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*==== VARIABLES ============ */
:root {
  --header-height: 5.6rem;

  /*color */
  --hue: 36;
  /*HSL color mode */
  --base-color: hsl(var(--hue) 85% 65%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  /* hover button */
  --base-color-alt: hsl(var(--hue) 57% 53%);

  --title-color: hsl(var(--hue) 41% 10%);

  --text-color: hsl(0 0% 35%);
  --text-color-light: hsl(0 0% 98%);

  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 2.25rem;
  --subtitle-font-size: 1.4rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*==== BASE ============ */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  position: relative;
}

body {
  font: 400 1.6rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

body *::selection {
  color: #fff;
  background-color: rgb(228, 143, 32);
}

::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(228, 143, 32, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(228, 143, 32);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(228, 143, 32, 0.5);
}

i,
li i {
  font-size: 24px;
}

label {
  font-size: var(--subtitle-font-size);
  line-height: 1.7rem;
  margin-bottom: 0.8rem;
}

small {
  color: #676767;
  margin-left: 0.2rem;
}

input[type='text'],
input[type='email'] {
  height: 3.6rem;
  border: 1px solid rgb(228, 143, 32);

  border-radius: 0.5rem;
  color: #080808;
  padding: 0.5rem;
}

input[type='radio'] {
  accent-color: rgb(228, 143, 32);
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  line-height: 3.5rem;
  -webkit-font-smoothing: auto;
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.button {
  background-color: rgb(228, 143, 32);
  color: #fff;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 700 1.6rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*==== LAYOUT ======================== */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(2rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  padding: 1.6rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#header.scroll {
  box-shadow: 0px 0px 12px hsl(36, 90%, 92%);
}

/*==== LOGO ======================== */
.logo {
  width: auto;
  height: 100%;
}

/*==== NAVIGATION ======================== */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* MOSTRAR MENU */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* TOGGLE MENU */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}
nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -2.5rem;
  right: 3rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 3rem;
}

/* ========== back to top ======== */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* ========== MEDIA QUERIES ======== */
/* extra large devices: 1200 > */
/* reusable classes */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* navigation */

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.6rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: calc(5rem + var(--header-height)) 0;
  }

  /* large devices: < 992  */
  @media (min-width: 992px) {
    :root {
      --title-font-size: 3rem;
      --subtitle-font-size: 1.6rem;
    }
  }
}
