#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
  place-items: center;
  margin: 0 auto;
  max-width: 50rem;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #D1D6D0;
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
    max-width: 100rem;
  }

  #about .image {
    max-width: 35rem;
  }

  #about .image img,
  #about .image::before {
  border-radius: 1rem;
}

  #about .container .text{
    height: fit-content;
  }

  #about .container .text .title {
    margin-bottom: 2.5rem;    
  }
}
