#contact {
  background-color: #fff;
}

#contact .grid {
  gap: 4rem;
}

#contact .contact-form .subtitle {
  margin-bottom: 1rem;
}

#contact .text > p {
  margin-bottom: 1.5rem;
}

#contact .button i,
#contact ul li i {
  margin-right: 1rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}


/* ============= FORM  ============ */

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  padding-top: 0.8rem;
}

.search .search-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;


}

.search .search-item label {
  margin: 0;
  white-space: nowrap;
}


.field-news p.news-text {
  margin-bottom: 0.8rem;
}

.radio-news {
  display: flex;
}

.radio-news label {
  margin-left: 0.3rem;
  margin-bottom: 0;
}

input#nao {
  margin-left: 2rem;
}

.field-message {
  display: flex;
  flex-direction: column;
}

.field-message textarea {
  width: 100%;

  border: 1px solid rgb(133, 133, 133);
  border-radius: 0.5rem;
  font-family: var(--body-font);
  font-size: 1.2rem;
  line-height: 1.1rem;
  color: #090909;
  padding: 0.5rem;
  min-height: 8rem;
  resize: none;
}

input[type='submit'] {
  display: block;
  background-color: var(--base-color-dark);
  height: 4rem;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 10rem;
  text-align: center;
}

.whatsapp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 4rem;
  right: 5rem;
  background-color: #25d366;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.whatsapp svg{
  margin: 0;
  width: 4rem;
  height:auto;
}

@media (min-width: 1200px) {
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .contact-form {
    max-width: 50rem;
    margin: 0 auto;
  }
}
