#contact .grid {
  gap: 4rem;
}

#contact .text > p {
  margin-bottom: 1.5rem;
}

#contact .button i,
#contact ul li i {
  margin-right: 1rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

#contact .ph-whatsapp-logo-thin {
  color: white;
}

/* ============= FORM  ============ */

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.field-news p.news-text {
  margin-bottom: 1.5rem;
}

.radio-news {
  display: flex;
}

.radio-news label {
  margin-left: 0.3rem;
}

input#nao {
  margin-left: 2rem;
}

.field-message textarea {
  width: 100%;

  border: 1px solid rgb(228, 143, 32);
  border-radius: 0.5rem;

  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #858488;
  padding: 0.5rem;
  height: 8rem;
}

input[type='submit'] {
  display: block;
  background-color: rgb(228, 143, 32);
  height: 3rem;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1200px) {
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }
}
