footer {
  background: var(--base-color);
}

footer.section {
  padding: 3rem;
}

footer .brand img {
  width: 18rem;
  height: auto;
  margin-bottom: 1rem;
}

footer .brand p {
  color: rgb(52, 52, 52);
  font: normal var(--subtitle-font-size);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

@media (min-width: 1200px) {
  footer .section {
    padding: 3.75rem;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
