#home {
  position: relative;

  overflow: hidden;
  padding: 0;
}

#home .image {
  position: relative;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
}

#home .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#home .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: fit-content;
  padding: 1rem;
  z-index: 10;
}

#home .pagination .pagination-item {
  width: 40px;
  height: 6px;
  border-radius: 0.2rem;
  background-color: #ffffff89;
  transition: all 0.3s ease-in-out;
}

#home .pagination .pagination-item.active {
  background-color: #ffffff;
}

.fade {
  animation: filterBrighness 0.5s ease-in-out;
}

@keyframes filterBrighness {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

@media (min-width: 1200px) {
  #home {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .pagination .pagination-item {
    width: 80px;
  }
}
