#services .cards.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#services .container header p strong {
  color: var(--base-color);
}

#services .card {
  padding: 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #fff;
}

#services .card .title {
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

#services .card ul li {
  position: relative;
  font-size: var(--subtitle-font-size);
}
#services .card ul li::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  background-color: rgb(228, 143, 32);
  top: 7px;
  left: -10px;
  width: 0.5rem;
  height: 0.5rem;
}

/* ========== MEDIA QUERIES ======== */
/* extra large devices: 1200 > */
/* reusable classes */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
